ul {
  list-style: none;
  padding: 0;
}

.navigation-list {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

 a {
  color: white;
}

.home-imagen {
  width: 50%;
}

body {
  background-color: black;
  color: white;
}

.gallery {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 400px 400px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 300px;
}

.gallery-image {
  border: white 1px solid;
  width: 100%;
}

.section-about {
    width: 50%;
}

.section-image {
    width: 100%;
}
