<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABOUT</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </nav>

    <h1>This is Jason Newsted</h1>
    <h2>I was Metallica's bassist from 1986 to 2001</h2>
    <img src="/images/jason-about.jpg" alt="Jason sad" title="Jason sad" />
    <h3>I left because Metallica was injurying me</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam magni
      suscipit, consequatur iure aperiam expedita enim tempora magnam rerum sit
      ex assumenda architecto reprehenderit necessitatibus obcaecati eos
      temporibus maiores vero. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Facere esse illo accusamus sint deleniti, provident
      alias id. Temporibus aliquam ullam omnis sapiente numquam quibusdam error
      est odit? Doloremque, amet enim. Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Aliquam nostrum eligendi blanditiis perspiciatis
      perferendis, quibusdam sapiente et omnis rerum doloremque laboriosam
      tempore excepturi repellat dolores eius cumque quos mollitia iusto!
    </p>
    <img src="" alt="" />
  </body>
</html>
