<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="./stylesheets/styles.css">
  </head>
  <body>
    <nav>
      <ul class ="navigation-list">
        <li class="navigation-item"><a href="/home">Home</a></li>
        <li class="navigation-item"><a href="/about">About</a></li>
        <li class="navigation-item"><a href="/works">Works</a></li>
      </ul>
    </nav>

    <h1>Jason Newsted</h1>
    <img class="home-imagen" src="/images/jasonhome.jpg" alt="Jason Newsted" />
  </body>
</html>
