<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WORKS</title>
    <link rel="stylesheet" href="./stylesheets/styles.css" />
  </head>
  <body>
    <nav>
      <ul class="navigation-list">
        <li class="navigation-item"><a href="/home">Home</a></li>
        <li class="navigation-item"><a href="/about">About</a></li>
        <li class="navigation-item"><a href="/works">Works</a></li>
      </ul>
    </nav>

    <div>
      <h1>BEST HITS</h1>

      <ul class="gallery">
        <li class="gallery-item">
          <a href="/works/load">
            <img class="gallery-image" src="/images/works1.jpg" alt="" />
          </a>
          <h3>LOAD</h3>
        </li>

        <li class="gallery-item">
          <a href="/works/metallica">
            <img class="gallery-image" src="/images/works2.jpg" alt="" />
          </a>
          <h3>METALICA</h3>
        </li>

        <li class="gallery-item">
          <a href="/works/justice-for-all">
            <img class="gallery-image" src="/images/works3.jpg" alt="" />
          </a>
          <h3>AND JUSTICE FOR ALL</h3>
        </li>

        <li class="gallery-item">
          <a href="/works/reload">
            <img class="gallery-image" src="/images/works4.jpeg" alt="" />
          </a>
          <h3>RELOAD</h3>
        </li>
      </ul>
    </div>
  </body>
</html>
